# DNA Translation with Python

In [22]:
# four dna sequence are translated to one amino acid using the table
# get the dna to be translated
from DNA.dna import table

with open("./dna.txt", mode="r") as file:
    seq = file.read().replace("\n", "").replace("\r", "")

def translate_dna(seq):
    protein = ''
    if len(seq) % 3 == 0:
        for i in range(0, len(seq), 3):
            DNA = seq[i: i+3]
            amino = table[DNA]
            protein += amino
    return protein
translate_dna(seq[20:938])

'MSTHDTSLKTTEEVAFQIILLCQFGVGTFANVFLFVYNFSPISTGSKQRPRQVILRHMAVANALTLFLTIFPNNMMTFAPIIPQTDLKCKLEFFTRLVARSTNLCSTCVLSIHQFVTLVPVNSGKGILRASVTNMASYSCYSCWFFSVLNNIYIPIKVTGPQLTDNNNNSKSKLFCSTSDFSVGIVFLRFAHDATFMSIMVWTSVSMVLLLHRHCQRMQYIFTLNQDPRGQAETTATHTILMLVVTFVGFYLLSLICIIFYTYFIYSHHSLRHCNDILVSGFPTISPLLLTFRDPKGPCSVFFNC_'

In [16]:
seq

'GGTCAGAAAAAGCCCTCTCCATGTCTACTCACGATACATCCCTGAAAACCACTGAGGAAGTGGCTTTTCAGATCATCTTGCTTTGCCAGTTTGGGGTTGGGACTTTTGCCAATGTATTTCTCTTTGTCTATAATTTCTCTCCAATCTCGACTGGTTCTAAACAGAGGCCCAGACAAGTGATTTTAAGACACATGGCTGTGGCCAATGCCTTAACTCTCTTCCTCACTATATTTCCAAACAACATGATGACTTTTGCTCCAATTATTCCTCAAACTGACCTCAAATGTAAATTAGAATTCTTCACTCGCCTCGTGGCAAGAAGCACAAACTTGTGTTCAACTTGTGTTCTGAGTATCCATCAGTTTGTCACACTTGTTCCTGTTAATTCAGGTAAAGGAATACTCAGAGCAAGTGTCACAAACATGGCAAGTTATTCTTGTTACAGTTGTTGGTTCTTCAGTGTCTTAAATAACATCTACATTCCAATTAAGGTCACTGGTCCACAGTTAACAGACAATAACAATAACTCTAAAAGCAAGTTGTTCTGTTCCACTTCTGATTTCAGTGTAGGCATTGTCTTCTTGAGGTTTGCCCATGATGCCACATTCATGAGCATCATGGTCTGGACCAGTGTCTCCATGGTACTTCTCCTCCATAGACATTGTCAGAGAATGCAGTACATATTCACTCTCAATCAGGACCCCAGGGGCCAAGCAGAGACCACAGCAACCCATACTATCCTGATGCTGGTAGTCACATTTGTTGGCTTTTATCTTCTAAGTCTTATTTGTATCATCTTTTACACCTATTTTATATATTCTCATCATTCCCTGAGGCATTGCAATGACATTTTGGTTTCGGGTTTCCCTACAATTTCTCCTTTACTGTTGACCTTCAGAGACCCTAAGGGTCCTTGTTCTGTGTTCTTCAACTGTTGAAAGCCAGAGTCACTAAAAATGCCAAACACAGAAGACAGCTTTGCTAATACCATTAAATACTTTATTCCATAAATATGTTTTTAAAAGCTTGTATGAACAAGGTATGGTGCTCACTGCTATACTTATAAAAGAGTAAGGTTATAATCACTTGTTGATATGAAAAGATTTCTGGTTGGAATCTGATTGAAACAGTGAGTTATTCACCACCCTCCATTCTCT'

In [19]:
# translate_dna("ATA")

'I'

In [5]:
# Greedy algorithms#
items = [["gold", 13, 20000], ["phone", 2, 1000], ["laptop", 7, 1700], ["stereo", 17, 600], ["airpod", 1, 800]]
bag = []
available = 20
def get_most_expensive(items):
    most_expensive = None
    cost = float("-inf")
    
    for item in items:
        if item[2] > cost and item[1] <= available:
            most_expensive = item
            cost = item[2]
    
    return most_expensive

def fill_bag():
    most_expensive = get_most_expensive(items)
    global available
    while most_expensive:
        take = items.pop(items.index(most_expensive))
        bag.append(take)
        available -= take[1]
        most_expensive = get_most_expensive(items)
        
        
        
    return bag

fill_bag()

[['gold', 13, 20000], ['laptop', 7, 1700]]

In [1]:
# Greedy algorithms without functions
available = 20
items = [
    {
      "name" : "diamond",
      "weight": 23,
      "worth": 30000
    },{
        "name": "Gold",
        "weight": 13,
        "worth": 10000
    },{
        "name": "phone",
        "weight": 2,
        "worth": 1500
    },{
        "name": "laptop",
        "weight": 7,
        "worth": 3000
    },{
        "name": "TV",
        "weight": 8,
        "worth": 2000
    },{
        "name": "stereo",
        "weight": 6,
        "worth": 1500
    }, {"name": "stereo", "weight": 2, "worth": 500 },  {"name": "syringe", "weight": 0.5, "worth": 50 }, {"name": "money", "weight": 1, "worth": 1000 }
]; collected = []

while available > 0:
    best_item = None
    worth = 0
    for item in items:
        if item["worth"] > worth and item not in collected and item["weight"] <= available:
            best_item = item
            worth = item["worth"]
    if best_item is None:
        available = 0
    else:
        collected.append(best_item)
        available -= best_item["weight"]
        
        
print(collected)

[{'name': 'Gold', 'weight': 13, 'worth': 10000}, {'name': 'laptop', 'weight': 7, 'worth': 3000}]

# Language Processing

## In this case study, we will examine the properties of individual books in a book collection.
* We will look at attributes such as book lengths, number of unique words. 
* Then how these attribbutes **cluster** by language of the author **or** authorship

In [13]:
# Counting words 
from collections import Counter
sentence = "Hello world!. Hello world is used to introduce people to the world of programming. It is usually the first thing a programmer writes"

def count_words(sentence):
    """Counts the occurence of each word in a string. Removes extra characers like ! , . and converts all characters to lower case"""
    words = sentence.lower()
    common_punctuations = ["!", ",", ".", "?", '"', ";", ":"]
    
    for char in common_punctuations:
        words = words.replace(char, "")
    
    word_count = {}
    for word in words.split(" "):
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1
    return word_count

def count_words_fast(sentence):
    """Counts the occurence of each word in a string. Removes extra characers like ! , . and converts all characters to lower case.
        Uses the Counter tool from collections to do the counting
    """
    words = sentence.lower()
    common_punctuations = ["!", ",", ".", "?", '"', ";", ":"]
    
    for char in common_punctuations:
        words = words.replace(char, "")
    
    word_count = Counter(words.split(" "))
    return word_count


count_words_fast(sentence) == count_words(sentence)

True

## Learn how to read in a book from a file

In [23]:
def read_book(title_path):
    """
        Takes in a book path as argument and returns the content of the book as a string
    """
    with open(title_path, "r", encoding="utf8") as current_file:
        text = current_file.read()
        text = text.replace("\n", "").replace("\r", "")
    
    return text

In [37]:
story = read_book('''./Books_EngFr/Books_EngFr/English/shakespeare/Romeo and Juliet.txt''')
len(story)

# Printing a substring from the sample text
idx = story.find("What's in a name")
sample_text = story[idx: idx + 1000]
sample_text

"What's in a name? That which we call a rose    By any other name would smell as sweet.    So Romeo would, were he not Romeo call'd,    Retain that dear perfection which he owes    Without that title. Romeo, doff thy name;    And for that name, which is no part of thee,    Take all myself.  Rom. I take thee at thy word.    Call me but love, and I'll be new baptiz'd;    Henceforth I never will be Romeo.  Jul. What man art thou that, thus bescreen'd in night,    So stumblest on my counsel?  Rom. By a name    I know not how to tell thee who I am.    My name, dear saint, is hateful to myself,    Because it is an enemy to thee.    Had I it written, I would tear the word.  Jul. My ears have yet not drunk a hundred words    Of that tongue's utterance, yet I know the sound.    Art thou not Romeo, and a Montague?  Rom. Neither, fair saint, if either thee dislike.  Jul. How cam'st thou hither, tell me, and wherefore?    The orchard walls are high and hard to climb,    And the place death, conside"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-29-25f4b5b3aefe>, line 1)

In [41]:
# Computing word frequency statistics
## We want to define a function that counts the number of unique words and also gives the total number of words given a text
def word_stats(word_count: dict) -> tuple:
    """
        Given a dictionary of words and their frequencies(How often they occur),
        Returns the total number of unique words in the dictionary as well as the total number of words
    """
    unique_words = len(word_count)
    total_words = sum(word_count.values())
    
    return (unique_words, total_words)

In [46]:
# Word_stats in English version of the book Romeo and Juliet
story = read_book('''./Books_EngFr/Books_EngFr/English/shakespeare/Romeo and Juliet.txt''')

# Call count_words on story to create dictionary of words and their frequencies
word_dictionary = count_words(story)

unique_words, total_words = word_stats(word_dictionary)
print(f"English version of Romeo and Juliet: unique words -> {unique_words}, total words -> {total_words}")

English version of Romeo and Juliet: unique words -> 4777, total words -> 40776

In [45]:
# Word_stats in German version of the book Romeo and Juliet
story = read_book('''./Books_GerPort/German/shakespeare/Romeo und Julia.txt''')

# Call count_words on story to create dictionary of words and their frequencies
word_dictionary = count_words(story)

unique_words, total_words = word_stats(word_dictionary)
print(f"German version of Romeo and Juliet: unique words -> {unique_words}, total words -> {total_words}")

German version of Romeo and Juliet: unique words -> 7344, total words -> 20311

## Reading multiple files and storing their data in a Pandas DataFrame

* To create a pandas dataframe with empty rows and columns at first, we can start by doing 
*   -> table = pd.DataFrame(columns=("first", "second"))
* You can then populate the table in this manner
    -> row = 1
*   -> table.loc[row] = "sam", "Atuma"

In [60]:
import os
# Reading multiple files and storing their data on a table

# reading the file
languages = './Books_GerPort'


for language in os.listdir(languages):
    for author in os.listdir(languages + "/" + language):
        for book in os.listdir(languages + "/" + language + "/" + author):
            print(book)

der freigeist.txt
der junge gelehrte.txt
die juden.txt
emilia galotti.txt
hamburgische dramaturgie.txt
minna von barnhelm.txt
miss sara sampson.txt
philotas.txt
Das MN¦âdchen aus der Feenwelt.txt
Der Alpenki¦énig und der Menschenfeind.txt
Der Barometermacher auf der Zauberinsel.txt
Der Diamant des Geisterki¦énigs.txt
Der Verschwender.txt
Die gefesselte Phantasie.txt
Die unheilbringende Krone.txt
Moisasurs Zauberfluch.txt
Der Neffe als Onkel.txt
Der Parasit, oder die Kunst, sein GlA¦èck zu machen.txt
die braut von messina.txt
Die Huldigung der KA¦ènste.txt
Die Jungfrau von Orleans.txt
Die Piccolomini.txt
Die Verschwi¦érung des Fiesco zu Genua.txt
Kabale und Liebe.txt
Turandot, Prinzessin von China.txt
Wallensteins Lager.txt
Wallensteins Tod.txt
Der Kaufmann von Venedig.txt
Ein Sommernachtstraum.txt
Hamlet.txt
Macbeth.txt
Othello.txt
Richard III.txt
Romeo und Julia.txt
A Filha do Arcediago.txt
A Neta do Arcediago.txt
A Queda d'um Anjo.txt
Agulha em Palheiro.txt
Amor de Perdic¦ºa¦âo.txt
Amor de Salvac¦ºa¦âo.txt
Annos de Prosa.txt
Carlota Angela.txt
Estrellas Funestas.txt
Estrellas Prop-¦cias.txt
Lagrimas Abena¦üoadas.txt
Livro de Consolac¦ºa¦âo.txt
O Olho de Vidro.txt
O que fazem mulheres.txt
O Regicida.txt
Scenas Contemporaneas.txt
A Morgadinha dos Cannaviaes.txt
Os fidalgos da Casa Mourisca.txt
Uma fam-¦lia ingleza.txt
A Cidade e as Serras.txt
A corresponda¦Çncia de Fradique Mendes.txt
A Illustre Casa de Ramires.txt
A Rel-¦quia.txt
Cartas de Inglaterra.txt
O crime do padre Amaro.txt
O Mandarim.txt
O Primo Bazilio.txt
Os Maias.txt
Hamlet.txt

In [68]:
import pandas as pd
import os
# Reading multiple files and storing their data on a table
languages = './Books_GerPort'

# holding important data on the table
row = 1
table = pd.DataFrame(columns=("author", "title", "language", "unique_words", "total_words"))
for language in os.listdir(languages):
    for author in os.listdir(languages + "/" + language):
        for book in os.listdir(languages + "/" + language + "/" + author):
            book_text = read_book(languages + "/" + language + "/" + author + "/" + book)
            unique_words, total_words = word_stats(count_words(book_text))
            table.loc[row] = author, book.replace(".txt", ""), language, unique_words, total_words
            row += 1
            print(book)

der freigeist.txt
der junge gelehrte.txt
die juden.txt
emilia galotti.txt
hamburgische dramaturgie.txt
minna von barnhelm.txt
miss sara sampson.txt
philotas.txt
Das MN¦âdchen aus der Feenwelt.txt
Der Alpenki¦énig und der Menschenfeind.txt
Der Barometermacher auf der Zauberinsel.txt
Der Diamant des Geisterki¦énigs.txt
Der Verschwender.txt
Die gefesselte Phantasie.txt
Die unheilbringende Krone.txt
Moisasurs Zauberfluch.txt
Der Neffe als Onkel.txt
Der Parasit, oder die Kunst, sein GlA¦èck zu machen.txt
die braut von messina.txt
Die Huldigung der KA¦ènste.txt
Die Jungfrau von Orleans.txt
Die Piccolomini.txt
Die Verschwi¦érung des Fiesco zu Genua.txt
Kabale und Liebe.txt
Turandot, Prinzessin von China.txt
Wallensteins Lager.txt
Wallensteins Tod.txt
Der Kaufmann von Venedig.txt
Ein Sommernachtstraum.txt
Hamlet.txt
Macbeth.txt
Othello.txt
Richard III.txt
Romeo und Julia.txt
A Filha do Arcediago.txt
A Neta do Arcediago.txt
A Queda d'um Anjo.txt
Agulha em Palheiro.txt
Amor de Perdic¦ºa¦âo.txt
Amor de Salvac¦ºa¦âo.txt
Annos de Prosa.txt
Carlota Angela.txt
Estrellas Funestas.txt
Estrellas Prop-¦cias.txt
Lagrimas Abena¦üoadas.txt
Livro de Consolac¦ºa¦âo.txt
O Olho de Vidro.txt
O que fazem mulheres.txt
O Regicida.txt
Scenas Contemporaneas.txt
A Morgadinha dos Cannaviaes.txt
Os fidalgos da Casa Mourisca.txt
Uma fam-¦lia ingleza.txt
A Cidade e as Serras.txt
A corresponda¦Çncia de Fradique Mendes.txt
A Illustre Casa de Ramires.txt
A Rel-¦quia.txt
Cartas de Inglaterra.txt
O crime do padre Amaro.txt
O Mandarim.txt
O Primo Bazilio.txt
Os Maias.txt
Hamlet.txt

In [69]:
table.tail(15)

,author,title,language,unique_words,total_words
49,branco,O Regicida,Portuguese,14669,50751
50,branco,Scenas Contemporaneas,Portuguese,14114,48889
51,dinis,A Morgadinha dos Cannaviaes,Portuguese,30013,134382
52,dinis,Os fidalgos da Casa Mourisca,Portuguese,27142,130834
53,dinis,Uma fam-¦lia ingleza,Portuguese,26160,109270
54,Queir-ós,A Cidade e as Serras,Portuguese,18771,65225
55,Queir-ós,A corresponda¦Çncia de Fradique Mendes,Portuguese,16492,52982
56,Queir-ós,A Illustre Casa de Ramires,Portuguese,24575,98218
57,Queir-ós,A Rel-¦quia,Portuguese,20927,77627
58,Queir-ós,Cartas de Inglaterra,Portuguese,13806,44293
59,Queir-ós,O crime do padre Amaro,Portuguese,28339,128630
60,Queir-ós,O Mandarim,Portuguese,7760,21440
61,Queir-ós,O Primo Bazilio,Portuguese,26606,107303
62,Queir-ós,Os Maias,Portuguese,39377,195771
63,shakespeare,Hamlet,Portuguese,9496,30567

In [59]:
table

  first second
1   sam  Atuma